<html>
<head>
    <title>{{Title}}</title>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <table data_merge="{{#foreach Persons}}">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Address</th>
        </tr>
        <tr>
            <td>{{Name}}</td>
            <td>{{Surname}}</td>
            <td>{{Address.Number}}, {{Address.Street}}, {{Address.City}}</td>
        </tr>
    </table>
    <br />
    <span>Area Rating: <b>{{Rating}}</b></span>
    <p>Thanks for subscribing</p><br />
    <p>Thanks,</p>
    <p><b>WBG Ltd.</b></p>
</body>
</html>