<html><head>
    <title>Test JSON</title>
    <style>table { font-family: arial, sans-serif; border-collapse: collapse; width: 100%; }td, th { border-top-color: rgb(221, 221, 221); border-top-style: solid; border-top-width: 1px; border-right-color: rgb(221, 221, 221); border-right-style: solid; border-right-width: 1px; border-bottom-color: rgb(221, 221, 221); border-bottom-style: solid; border-bottom-width: 1px; border-left-color: rgb(221, 221, 221); border-left-style: solid; border-left-width: 1px; text-align: left; padding-top: 8px; padding-right: 8px; padding-bottom: 8px; padding-left: 8px; }tr:nth-child(2n) { background-color: rgb(221, 221, 221); }</style>
</head>
<body>
    <table>
        <tbody><tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Address</th>
        </tr>
        
    <tr>
            <td>JJRaj</td>
            <td>Mothiraj</td>
            <td>147, Senthur nagar, Tiruppur</td>
        </tr><tr>
            <td>Test1</td>
            <td>Jack</td>
            <td>25, Broadway, New York</td>
        </tr></tbody></table>
    <br>
    <span>Rating: <b></b></span>
    <p>Thanks for subscribing</p><br>
    <p>Thanks,</p>
    <p><b>WBG Ltd.</b></p>

</body></html>